name: CD
on:
  push:
    branches:
      - main
  pull_request:
    branches: 
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Logging in
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}


      - name: Starting setup Buildx
        uses: docker/setup-buildx-action@v1

      - name: Pushing to docker-hub
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ../aplicacao/app/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}